/* General Layout */
.min-h-screen {
  min-height: 100vh;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.bg-gray-100 {
  background-color: #f8f9fa;
}

/* Content */
.content {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Changed from center to flex-start */
  flex: 1;
  padding: 20px;
}

.container {
  width: 100%;
  max-width: 500px;
  margin: 40px; /* Reduced margin */
  padding: 20px; /* Reduced padding */
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  color: #2c5175;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 600;
}

/* File Input */
.custom-file {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.custom-file-input {
  position: relative;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #2c5175;
  border-radius: 4px;
  background-color: #ffffff;
  color: #2c5175;
  cursor: pointer;
  transition: border-color 0.2s;
}

.custom-file-input:hover {
  border-color: #103c68;
}

.custom-file-label {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  background-color: #103c68;
  color: #ffffff;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.custom-file-label::after {
  content: "Browse";
  background-color: transparent;
  color: inherit;
  border: none;
}

/* Button */
button {
  background-color: #103c68;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1f16cd;
}

/* Messages */
p {
  margin-top: 10px;
  font-size: 14px;
}

.error-message {
  color: #ff0000;
}

.success-message {
  color: #008000;
}

/* user-upload.component.css */

.loader {
  width: 40px;
  height: 40px;
  position: relative;
  --c: no-repeat linear-gradient(#2573e7 0 0);
  background:
    var(--c) center/100% 10px,
    var(--c) center/10px 100%;
}

.loader:before {
  content: '';
  position: absolute;
  inset: 0;
  background:
    var(--c) 0 0,
    var(--c) 100% 0,
    var(--c) 0 100%,
    var(--c) 100% 100%;
  background-size: 15.5px 15.5px;
  animation: l16 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
}

@keyframes l16 {
  33% { inset: -10px; transform: rotate(0deg); }
  66% { inset: -10px; transform: rotate(90deg); }
  100% { inset: 0; transform: rotate(90deg); }
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
