
    <!-- Sidebar -->
    <aside [ngClass]="{'w-64': isSidebarOpen, 'w-20': !isSidebarOpen}" class="bg-white shadow-md py-6 px-4 lg:block transition-all duration-300">
      <ul class="space-y-5"><li></li>
        <li>
          <a href="#" class="flex items-center block py-2.5 px-4 rounded transition duration-200 hover:bg-purple-200" [ngClass]="{'bg-purple-600 text-white': isSidebarOpen, 'justify-center': !isSidebarOpen}">
            <i class="fas fa-tachometer-alt"></i>
            <span *ngIf="isSidebarOpen" class="ml-2">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="instructor/course" class="flex items-center block py-2.5 px-4 rounded transition duration-200 hover:bg-purple-200" [ngClass]="{'justify-center': !isSidebarOpen}">
            <i class="fas fa-book"></i>
            <span *ngIf="isSidebarOpen" class="ml-2">Course</span>
          </a>
        </li>
        <li>
            <a href="instructor/category" class="flex items-center block py-2.5 px-4 rounded transition duration-200 hover:bg-purple-200" [ngClass]="{'justify-center': !isSidebarOpen}">
              <i class="fas fa-folder"></i>
              <span *ngIf="isSidebarOpen" class="ml-2">Category</span>
            </a>
          </li>
        <li>
          <a href="#" class="flex items-center block py-2.5 px-4 rounded transition duration-200 hover:bg-purple-200" [ngClass]="{'justify-center': !isSidebarOpen}">
            <i class="fas fa-user-graduate"></i>
            <span *ngIf="isSidebarOpen" class="ml-2">Students</span>
          </a>
        </li>
        <li>
          <a href="#" class="flex items-center block py-2.5 px-4 rounded transition duration-200 hover:bg-purple-200" [ngClass]="{'justify-center': !isSidebarOpen}">
            <i class="fas fa-clipboard-list"></i>
            <span *ngIf="isSidebarOpen" class="ml-2">Tests</span>
          </a>
        </li>
        <li>
          <a href="#" class="flex items-center block py-2.5 px-4 rounded transition duration-200 hover:bg-purple-200" [ngClass]="{'justify-center': !isSidebarOpen}">
            <i class="fas fa-video"></i>
            <span *ngIf="isSidebarOpen" class="ml-2">Meeting</span>
          </a>
        </li>
        <li>
          <a href="#" class="flex items-center block py-2.5 px-4 rounded transition duration-200 hover:bg-purple-200" [ngClass]="{'justify-center': !isSidebarOpen}">
            <i class="fas fa-file-alt"></i>
            <span *ngIf="isSidebarOpen" class="ml-2">Report</span>
          </a>
        </li>
        <li>
          <a href="#" class="flex items-center block py-2.5 px-4 rounded transition duration-200 hover:bg-purple-200" [ngClass]="{'justify-center': !isSidebarOpen}">
            <i class="fas fa-sign-out-alt"></i>
            <span *ngIf="isSidebarOpen" class="ml-2">Log out</span>
          </a>
        </li>
      </ul>
    </aside>
    

  