<div class="min-h-screen bg-gray-100 flex flex-col">
    <app-instructor-navbar (toggleSidebarEvent)="toggleSidebar()"></app-instructor-navbar>
    <div class="flex flex-1">
      <app-instructor-sidebar [isSidebarOpen]="isSidebarOpen"></app-instructor-sidebar>
  
      <main class="flex-1 p-6">
        <section>
            <div class="flex border-b">
                <button
                  class="py-2 px-4 text-sm font-medium text-blue-600 hover:text-blue-800 focus:outline-none"
                  [ngClass]="{ 'border-b-2 border-blue-600': activeTab === 'createCourse' }"
                  (click)="setActiveTab('createCourse')"
                >
                 Create Course
                </button>
                
                <button
                  class="py-2 px-4 text-sm font-medium text-blue-600 hover:text-blue-800 focus:outline-none"
                  [ngClass]="{ 'border-b-2 border-blue-600': activeTab === 'materials' }"
                  (click)="setActiveTab('materials')"
                >
                  Course Lessons
                </button>
                <button
                  class="py-2 px-4 text-sm font-medium text-blue-600 hover:text-blue-800 focus:outline-none"
                  [ngClass]="{ 'border-b-2 border-blue-600': activeTab === 'additional' }"
                  (click)="setActiveTab('additional')"
                >
                  Course Certificate
                </button>
              </div>

              
              <div *ngIf="activeTab === 'materials'" class="p-4">
                <h3 class="text-xl font-bold mb-4">Materials</h3>
                <p>Content for materials.</p>
              </div>
              
              <div *ngIf="activeTab === 'additional'" class="p-4">
                <h3 class="text-xl font-bold mb-4">Additional Information</h3>
                <p>Content for additional information.</p>
              </div>
              
        <div *ngIf="activeTab === 'createCourse'" class="p-4">
          <!-- Course Create Form -->
          <div class="flex flex-col items-center justify-center light">
            <div class="w-full max-w-md bg-white rounded-lg shadow-md p-6">

              <form class="flex flex-col" #courseForm="ngForm" (ngSubmit)="onSubmit(courseForm)" method="post">
                <input
                  type="text"
                  class="bg-gray-100 text-gray-800 border-0 rounded-md p-2 mb-4 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150"
                  id="name"
                  name="name"
                  [(ngModel)]="course.name"
                  required
                  (input)="validateCourseName(course.name)"
                  placeholder="name"
                />
                <div *ngIf="nameDuplicateError" class="text-red-500">
                  Course name already exists.
                </div>
                <input
                  type="text"
                  class="bg-gray-100 text-gray-800 border-0 rounded-md p-2 mb-4 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150"
                  id="level"
                  name="level"
                  [(ngModel)]="course.level"
                  required
                  placeholder="Level"
                />
                <input
                  type="text"
                  class="bg-gray-100 text-gray-800 border-0 rounded-md p-2 mb-4 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150"
                  id="duration"
                  name="duration"
                  [(ngModel)]="course.duration"
                  required
                  placeholder="duration"
                />
                <input
                  type="text"
                  class="bg-gray-100 text-gray-800 border-0 rounded-md p-2 mb-4 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150"
                  id="description"
                  name="description"
                  [(ngModel)]="course.description"
                  required 
                  placeholder="description"
                />

                <div class="bg-gray-100 text-gray-800 border-0 rounded-md p-2 mb-4 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150">
                  <label class="block mb-2 font-medium text-gray-700" for="file_input">Upload Photo</label>
                  <input
                      type="file"
                      id="photo"
                      name="photo"
                      (change)="onFileChange($event)"
                      class="block w-full text-sm text-gray-800 border border-gray-300 rounded-md cursor-pointer focus:outline-none focus:ring-1 focus:ring-blue-500"
                  />
              </div>
              <div class="bg-gray-100 text-gray-800 border-0 rounded-md p-2 mb-4 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150">
                <label class="block mb-2 font-medium text-gray-700">Select Categories:</label>
                <div class="row">
                  <div *ngFor="let category of categories" class="col-md-4">
                    <label class="checkbox-inline">
                      <input
                        type="checkbox"
                        [id]="'category_' + category.id"
                        [name]="'categories'"
                        [value]="category.id"
                        (change)="toggleCategories($event, category)"
                      />
                      {{ category.name }}
                    </label>
                  </div>
                </div>
              </div>
              
                
          
                <button
                  type="submit"
                  class="bg-gradient-to-r from-indigo-500 to-blue-500 text-white font-bold py-2 px-4 rounded-md mt-4 hover:bg-indigo-600 hover:to-blue-600 transition ease-in-out duration-150"
                  [disabled]="nameDuplicateError"
                  >
                  Submit
                </button>
              </form>
          
             
            </div>
          </div>
          </div>
          
        <!-- <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-8">
                <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white m-4">
                  <div class="px-6 py-4">
                      <div class="font-bold text-xl mb-2">name</div>
                
                  </div>
              </div> 
             </div>
               -->
         
      
        </section>
      </main>
    </div>
  </div>
  