<div class="min-h-screen bg-gray-100 flex flex-col">
  <app-admin-navbar (toggleSidebarEvent)="toggleSidebar()"></app-admin-navbar>
  <div class="flex flex-1">
    <app-admin-sidebar [isSidebarOpen]="isSidebarOpen"></app-admin-sidebar>

    <main class="flex-1 p-6 max-h-[80vh] overflow-y-auto pr-4">
      <section>
        <div class="flex border-b mb-4">
          <button
            class="py-2 px-4 text-md font-medium text-logo-blue hover:text-blue-800 focus:outline-none"
            [ngClass]="{ 'border-b-2 border-blue-600': activeTab === 'createCategory' }"
            (click)="setActiveTab('createCategory')"
          >
            Add Categories
          </button>
          <button
            class="py-2 px-4 text-md font-medium text-logo-blue hover:text-blue-800 focus:outline-none ml-4"
            [ngClass]="{ 'border-b-2 border-blue-600': activeTab === 'categoryList' }"
            (click)="setActiveTab('categoryList')"
          >
            Category List
          </button>
        </div>

        <!-- Create Category Form -->
        <div *ngIf="activeTab === 'createCategory'" class="p-4">
          <div class="flex items-center justify-center bg-gray-100">
            <div class="w-full max-w-md bg-white rounded-lg shadow-md p-6">
              <form #categoryForm="ngForm" (ngSubmit)="onSubmit(categoryForm)" method="post" class="flex flex-col">
                <div *ngIf="nameDuplicateError" class="text-red-500">
                  This category name already exists.
                </div>
                <div *ngIf="categoryForm.submitted && !category.name" class="text-red-500 mb-2">
                  Please fill the field.
                </div>
                <input
                  type="text"
                  class="bg-gray-100 text-gray-800 border-0 rounded-md p-2 mb-4 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150"
                  id="name"
                  name="name"
                  [(ngModel)]="category.name"
                  #name="ngModel"
                  required
                  (input)="validateCategoryName(category.name)"
                  placeholder="Category Name"
                />
               

                <button
                  type="submit"
                  class="bg-logo-blue from-dark-blue to-logo-blue text-white font-bold py-2 px-4 rounded hover:bg-gradient-to-r hover:from-blue-700 hover:to-logo-blue focus:outline-none focus:shadow-outline"
                  [disabled]="nameDuplicateError"
                >
                  Create Category
                </button>
              </form>
            </div>
          </div>
        </div>

        <!-- Category List -->
        <div *ngIf="activeTab === 'categoryList'" class="p-4 flex justify-center">
          <div class="w-full max-w-xl p-6 bg-white rounded-lg shadow-lg">
            <div class="flex justify-between items-center mb-4">
              <input
                type="text"
                class="form-control w-1/4 p-2 border rounded focus:outline-none focus:ring-1 focus:ring-blue-500"
                [(ngModel)]="searchQuery"
                (ngModelChange)="onSearch()"
                placeholder="Search categories"
              />
              <div class="pagination-controls flex items-center space-x-2">
                <button 
                  (click)="firstPage()" 
                  [disabled]="currentPage === 1" 
                  class="btn bg-gray-200 text-gray-700 p-2 rounded hover:bg-gray-300"
                >
                  <i class="fas fa-angle-double-left"></i>
                </button>
                <button 
                  (click)="previousPage()" 
                  [disabled]="currentPage === 1" 
                  class="btn bg-gray-200 text-gray-700 p-2 rounded hover:bg-gray-300"
                >
                  <i class="fas fa-angle-left"></i>
                </button>
                <span class="flex items-center">
                  Page 
                  <input 
                    type="number" 
                    class="page-input mx-2 w-16 text-center border rounded p-1" 
                    [(ngModel)]="currentPage" 
                    (ngModelChange)="goToPage($event)" 
                    min="1" 
                    [max]="totalPages" 
                  /> 
                  of {{ totalPages }}
                </span>
                <button 
                  (click)="nextPage()" 
                  [disabled]="currentPage === totalPages" 
                  class="btn bg-gray-200 text-gray-700 p-2 rounded hover:bg-gray-300"
                >
                  <i class="fas fa-angle-right"></i>
                </button>
                <button 
                  (click)="lastPage()" 
                  [disabled]="currentPage === totalPages" 
                  class="btn bg-gray-200 text-gray-700 p-2 rounded hover:bg-gray-300"
                >
                  <i class="fas fa-angle-double-right"></i>
                </button>
              </div>
            </div>
        
            <div class="overflow-x-auto">
              <table class="min-w-full bg-white">
                <thead>
                  <tr class="bg-logo-blue">
                    <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">No</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">Category Name</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let category of paginatedCategories">
                    <td class="py-2 px-4 border-b border-gray-300">{{ category.id }}</td>
                    <td class="py-2 px-4 border-b border-gray-300">{{ category.name }}</td>
                    <td class="py-2 px-4 border-b border-gray-300">
                      <button
                        class="text-logo-blue hover:text-blue-600 mr-2"
                        (click)="openUpdateDialog(category)"
                      >
                      <i class="fas fa-edit"></i>
                      </button>
                      <button
                        class="text-red-500 hover:text-red-700"
                        (click)="softDeleteCategory(category.id)"
                      >
                      <i class="fas fa-trash-alt"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        
      </section>

      <ng-template #updateCategoryDialog>
        <div class="fixed inset-0 flex items-center justify-center z-50">
          <div class="absolute inset-0 bg-black opacity-50"></div>
          <div class="bg-white rounded-lg shadow-lg p-6 w-full max-w-md relative z-10">
            <h2 class="text-2xl font-semibold text-center mb-4">Update Category</h2>
            <form #updateForm="ngForm" (ngSubmit)="onUpdateSubmit(updateForm)" class="space-y-4">
              <div *ngIf="nameDuplicateError" class="text-red-500">
                This category name already exists.
              </div>
              <input
                type="text"
                class="w-full bg-gray-100 text-gray-800 border-0 rounded-md p-2 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150"
                id="name"
                name="name"
                [(ngModel)]="selectedCategory.name"
                #name="ngModel"
                required
                (input)="validateCategoryName(selectedCategory.name)"
                placeholder="Category Name"
              />
            
             
              <div class="flex justify-end space-x-4">
                <button
                  type="button"
                  class="bg-red-500 text-white font-bold py-2 px-4 rounded-md hover:bg-red-600 transition ease-in-out duration-150"
                  (click)="closeUpdateDialog()"
                >
                  Cancel
                </button>
                <button
                  type="submit"
                  class="bg-gradient-to-r from-indigo-500 to-blue-500 text-white font-bold py-2 px-4 rounded-md hover:bg-indigo-600 hover:to-blue-600 transition ease-in-out duration-150"
                  [disabled]="nameDuplicateError"
                >
                  Update
                </button>
              </div>
            </form>
          </div>
        </div>
      </ng-template>
  
   
    