
<div class="parent"> 
    <div class="container" [ngClass]="isSignDivVisiable ? '' : 'active'  " id="container">
       
        <div class="form-container sign-in" >
            <form>
                <h1>Sign In</h1>
                <div class="social-icons">
               
                </div>
             
                <input type="email" name="email" [(ngModel)]="loginObj.email" placeholder="Staff ID">
                <input type="password" name="password"   [(ngModel)]="loginObj.password" placeholder="Password">
                <a href="#">→ Forget Your Password? ←</a>
                <button (click)="onLogin()">Sign In</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome Back!</h1>
                    <p>Enter your personal details to use all of site features</p>
                    <button type="button" class="hidden" id="login" (click)="isSignDivVisiable = false">Sign In</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>DIR-ACE TECHNOLOGY</h1>
                    <p>Welcome to E-Learning Website</p>
                    
                </div>
            </div>
        </div>
    </div>
</div>

