
<div class="parent"> 
    <div class="container" [ngClass]="isSignDivVisiable ? '' : 'active'  " id="container">
       
        <div class="form-container sign-in" >
            <form>
                <h1 class="sign-in-header">Sign In</h1>
                <div class="social-icons">
               
                </div>
             
                <input type="text" name="staffId" [(ngModel)]="loginObj.staffId" placeholder="Staff ID">
                <input type="password" name="password"   [(ngModel)]="loginObj.password" placeholder="Password">
                <a href="#">→ Forget Your Password? ←</a>
                <button (click)="onLogin()">Sign In</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1 class="login-header">DIR-ACE TECHNOLOGY</h1>
                    <p class="login-header">Welcome to E-Learning Website</p>
                    
                </div>
                <div class="toggle-panel toggle-right">
                    <h1 class="login-header">DIR-ACE TECHNOLOGY</h1>
                    <p class="login-header">Welcome to E-Learning Website</p>
                    
                </div>
            </div>
        </div>
    </div>
</div>

