<div class="min-h-screen bg-gray-100 flex flex-col">
    <app-instructor-navbar (toggleSidebarEvent)="toggleSidebar()"></app-instructor-navbar>
    <div class="flex flex-1">
      <app-instructor-sidebar [isSidebarOpen]="isSidebarOpen"></app-instructor-sidebar>
  
      <main class="flex-1 p-6">
        <section>
            <div class="flex border-b">
                <button
                  class="py-2 px-4 text-md font-medium text-logo-blue hover:text-blue-800 focus:outline-none"
                  [ngClass]="{ 'border-b-2 border-logo-blue': activeTab === 'createCategory' }"
                  (click)="setActiveTab('createCategory')"
                >
                 Create Categories
                </button>
                <button
                  class="py-2 px-4 text-md font-medium text-logo-blue hover:text-blue-800 focus:outline-none"
                  [ngClass]="{ 'border-b-2 border-logo-blue': activeTab === 'materials' }"
                  (click)="setActiveTab('materials')"
                >
                  Course Lessons
                </button>
              </div>

              <div *ngIf="activeTab === 'additional'" class="p-4">
                <h3 class="text-xl font-bold mb-4">Additional Information</h3>
                <p>Content for additional information.</p>
              </div>
              
        <div *ngIf="activeTab === 'createCategory'" class="p-4">
            <!-- Category Create Form -->
            <div class="flex items-center justify-center bg-gray-100">
            <div class="w-full max-w-md bg-white rounded-lg shadow-md p-6">

              <form #categoryForm="ngForm" (ngSubmit)="onSubmit(categoryForm)" method="post" class="flex flex-col">
                <input
                  type="text"
                  class="bg-gray-100 text-gray-800 border-0 rounded-md p-2 mb-4 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150"
                  id="name"
                 name="name"
                 [(ngModel)]="category.name"
                 #name="ngModel"
                 required  
                 (input)="validateCategoryName(category.name)"
                  placeholder="Category Name"
                />
                <div *ngIf="nameRequiredError" class="text-red-500">
                    Name is required. 
                  </div>
                  
                <div *ngIf="nameDuplicateError" class="text-red-500">
                  This category name already exists.
                </div>
          
                <button
                  type="submit"
                  class="bg-logo-blue from-dark-blue to-logo-blue text-white font-bold py-2 px-4 rounded-md mt-4 hover:bg-indigo-600 hover:to-logo-blue transition ease-in-out duration-150"
                  [disabled]="nameDuplicateError">
                  Submit
                </button>
              </form>
          
             
            </div>
          </div>
        </div>
        </section>
      </main>
    </div>
  </div>
  