
<div class="datatable-container bg-white p-3 rounded-lg shadow-lg">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <input type="text" class="form-control w-25" placeholder="Search..." [(ngModel)]="searchTerm" (ngModelChange)="onSearchChange()" />

    <select [(ngModel)]="statusFilter" (change)="onStatusChange()" class="form-control w-25">
      <option value="all">All</option>
      <option value="accept">Accept</option>
      <option value="reject">Reject</option>
      <option value="pending">Pending</option>
      <!-- <option value="In Progress">In Progress</option> -->
    </select>

    <div class="pagination-controls">
      <div class="export-buttons mt-3">
        <button (click)="exportAllCourses()" class="btn bg-logo-blue hover:bg-dark-blue text-white ml-4">Excel<i class="fa-solid fa-download ml-2"></i></button>
        <button (click)="exportAllCoursesPDF()" class="btn bg-logo-blue hover:bg-dark-blue text-white ml-4">PDF<i class="fa-solid fa-download ml-2"></i></button>
    
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th>No</th>
          <th>Course Name 

            <app-filter-sort-dropdown
                        (sortChanged)="onSortChange('name', $event)"
                        (filterChanged)="onFilterChange($event)">
            </app-filter-sort-dropdown>

          </th>
          
          <th>Level

            <app-filter-sort-dropdown
                        (sortChanged)="onSortChange('level', $event)"
                        (filterChanged)="onFilterChange($event)">
            </app-filter-sort-dropdown>

          </th>
          <th>Duration

            <app-filter-sort-dropdown
                        (sortChanged)="onSortChange('duration', $event)"
                        (filterChanged)="onFilterChange($event)">
            </app-filter-sort-dropdown>

          </th>
          <th>Instructor

            <app-filter-sort-dropdown
                        (sortChanged)="onSortChange('name', $event)"
                        (filterChanged)="onFilterChange($event)">
            </app-filter-sort-dropdown>

          </th>
          <th>Status</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of paginatedCourses; let i = index">
          <td class="center-cell">{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
          <td>{{ course.name }}</td>
          <td>{{ course.level }}</td>
          <td>{{ course.duration }}</td>
          <td>{{ course.user?.name }}</td>
          <td>
            <div class="icon-container status-cell">
              <i *ngIf="course.status === 'In Progress'" class="fa-solid fa-bars-progress" style="color: rgb(0, 90, 128); font-size: 24px;"></i>
              <i *ngIf="course.status === 'Accept'" class="fa-solid fa-circle-check" style="color: green; font-size: 24px;"></i>
              <i *ngIf="course.status === 'Reject'" class="fa-solid fa-circle-xmark" style="color: red; font-size: 24px;"></i>


              <div *ngIf="course.status === 'Pending'" class="d-flex justify-content-around status-buttons">
                <button class="accept-button" (click)="acceptCourse(course)">
                  <i class="fa-regular fa-circle-check icon-green"></i>
                </button>
                <button class="reject-button" (click)="rejectCourse(course)">
                  <i class="fa-regular fa-circle-xmark icon-red"></i>
                </button>
              </div>
              
            </div>
          </td>
          <td class="center-cell">
            <button (click)="goToCourseDetails(course.id)" class="btn" >
              <i class="fa-solid fa-list" style="color: #075ea0;"></i>
            </button>
          </td>
          
        </tr>
      </tbody>
    </table>
  </div>

  <div class="d-flex justify-content-end mt-3">
    <div class="pagination-controls">
      <button (click)="firstPage()" [disabled]="currentPage === 1" class="btn btn-secondary">
        <i class="fas fa-angle-double-left"></i>
      </button>
      <button (click)="previousPage()" [disabled]="currentPage === 1" class="btn btn-secondary">
        <i class="fas fa-angle-left"></i>
      </button>
      <span>
        Page
        <input type="number" class="page-input" [(ngModel)]="currentPage" (ngModelChange)="goToPage($event)" min="1" max="{{ totalPages }}" />
        of {{ totalPages }}
      </span>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="btn btn-secondary">
        <i class="fas fa-angle-right"></i>
      </button>
      <button (click)="lastPage()" [disabled]="currentPage === totalPages" class="btn btn-secondary">
        <i class="fas fa-angle-double-right"></i>
      </button>
    </div>
  </div>

  
</div>




