<div class="flex min-h-screen">
  <app-navbar></app-navbar>

 
  <div class="md:w-2/3 p-4 mt-40 mx-auto">
    <div class="bg-gray-50 p-4 rounded-lg shadow-md">
        <div *ngIf="course" class="flex items-center">
            <img [src]="course.photo" alt="Profile Picture" class="w-1/2 h-auto object-cover">
            <div class="ml-4">
                <h1 class="text-3xl font-bold text-logo-blue text-center">{{ course.name }}</h1><br>
                <p>{{ course.description }}</p>
                <div class="flex justify-between mt-4">
                <div class="flex gap-1 items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor"
                      class="w-5 h-5 text-logo-blue">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                  </svg>
                  <p>{{course.duration}}</p>
              </div>
              <div class="flex gap-1 items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor"
                      class="w-5 h-5 text-logo-blue">
                      <path stroke-linecap="round" stroke-linejoin="round"
                          d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25" />
                  </svg>
                  <p>{{course.level}}</p>
              </div>
            </div>
            </div>
        </div>
    </div>


    
    <div *ngFor="let lesson of lessons; let i = index" class="mt-4">
      <div class="flex items-center cursor-pointer" (click)="toggleDropdown(i)">
        <svg class="w-6 h-6 ml-2 text-logo-blue" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path *ngIf="!isDropdownOpen[i]" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
          <path *ngIf="isDropdownOpen[i]" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
        </svg>
        <h1 class="text-xl font-bold text-logo-blue">{{ lesson.title }}</h1>
      </div>
      <div *ngIf="isDropdownOpen[i]" class="mt-2 space-y-2 p-4">
        <div *ngFor="let module of lesson.modules" class="p-4  bg-gray-50 rounded-lg shadow flex items-center justify-between">
          <p>{{ module.name }}</p>
        <div class="flex justify-end">
          <ng-container *ngIf="module.fileType === 'video/mp4'"> 
            <button (click)="viewVideoDetailClick(module.id)" class="ml-4 px-4 py-2 bg-logo-blue text-white rounded hover:bg-dark-blue" >view</button>
          </ng-container>        
            <ng-container *ngIf="module.fileType !== 'video/mp4'"> 
              <a [href]="module.file" class="ml-4 px-4 py-2 bg-logo-blue text-white rounded hover:bg-dark-blue" target="_blank">Open File</a>
            </ng-container>          
            <button *ngIf="!isOwner"
                id="mark-as-done-{{i}}"
                (click)="markAsDone(module.id, i)"
                class="ml-4 px-4 py-2 bg-blue-400 text-white rounded hover:bg-blue-700"
                [disabled]="module.done">
          {{ module.done ? 'Done' : 'Mark as Done' }}
          </button>
          </div>
        </div>
        
          <div *ngIf="lesson.examListDto.id !== null" class="p-4 bg-gray-50 rounded-lg shadow flex items-center justify-between">
            <p>{{ lesson.examListDto.title }}</p>
        <div class="flex justify-end">
          <button (click)="viewQuestionFormClick(lesson.examListDto.id)" class="ml-4 px-4 py-2 bg-logo-blue text-white rounded hover:bg-dark-blue" >view</button>

          </div>
          </div>
          
        
      </div>
    </div>
  </div>
</div> 

<button *ngIf="!isOwner" (click)="toggleChatRoom()" class="fixed bottom-4 right-4 bg-logo-blue text-white p-3 rounded-full shadow-lg hover:bg-dark-blue text-sm">
  <i class="fas fa-comments"></i>
</button>


<!-- Chat Room Section -->
<app-chat *ngIf="chatRoomVisible" [chatRoomId]="chatRoomId" [userName]="instructorName" (close)="toggleChatRoom()" ></app-chat>
<app-footer></app-footer>





  
 

