
       <div class="datatable-container bg-white p-3 rounded-lg shadow-lg">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <input 
                        type="text" 
                        class="form-control w-25" 
                        placeholder="Search..." 
                        [(ngModel)]="searchTerm" 
                        (ngModelChange)="onSearchChange()" 
                        />

                    
            
                        <div class="pagination-controls">
                        <button 
                            (click)="firstPage()" 
                            [disabled]="currentPage === 1" 
                            class="btn btn-secondary"
                        >
                            <i class="fas fa-angle-double-left"></i>
                        </button>
                        <button 
                            (click)="previousPage()" 
                            [disabled]="currentPage === 1" 
                            class="btn btn-secondary"
                        >
                            <i class="fas fa-angle-left"></i>
                        </button>
                        <span class="flex items-center">
                            Page 
                            <input 
                            type="number" 
                            class="page-input " 
                            [(ngModel)]="currentPage" 
                            (ngModelChange)="goToPage($event)" 
                            min="1" 
                            [max]="totalPages" 
                            /> 
                            of {{ totalPages }}
                        </span>
                        <button 
                            (click)="nextPage()" 
                            [disabled]="currentPage === totalPages" 
                            class="btn btn-secondary"
                        >
                            <i class="fas fa-angle-right"></i>
                        </button>
                        <button 
                            (click)="lastPage()" 
                            [disabled]="currentPage === totalPages" 
                            class="btn btn-secondary"
                        >
                            <i class="fas fa-angle-double-right"></i>
                        </button>
                        </div>
                    </div>
            
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>No</th>
                                <th>
                                  StaffId
                                  <app-filter-sort-dropdown 
                                  (sortChanged)="onSortChange('user.staffId', $event)" 
                                  (filterChanged)="onFilterChange($event)"
                                ></app-filter-sort-dropdown>
                               
                                <th>
                                  Student
                                  <app-filter-sort-dropdown 
                                  (sortChanged)="onSortChange('user.name', $event)" 
                                  (filterChanged)="onFilterChange($event)"
                                ></app-filter-sort-dropdown>
                                </th>
                                <th>
                                  Course
                                  <app-filter-sort-dropdown 
                                  (sortChanged)="onSortChange('course.name', $event)" 
                                  (filterChanged)="onFilterChange($event)"
                                  ></app-filter-sort-dropdown>
                                </th>
                                
                                <th>
                                  Team
                                  <app-filter-sort-dropdown 
                                  (sortChanged)="onSortChange('user.team', $event)" 
                                  (filterChanged)="onFilterChange($event)"
                                ></app-filter-sort-dropdown>
                                </th>
                                <th>
                                  Progress
                                  <app-filter-sort-dropdown 
                                  (sortChanged)="onSortChange('progressOutput', $event)" 
                                  (filterChanged)="onFilterChange($event)"
                                ></app-filter-sort-dropdown>
                                </th>
                                <th>
                                  Certificate
                                  <app-filter-sort-dropdown 
                                  (sortChanged)="onSortChange('certificateOutput', $event)" 
                                  (filterChanged)="onFilterChange($event)"
                                ></app-filter-sort-dropdown>
                                </th>
                                
                                <!-- <th>
                                  Req Date
                                  <app-filter-sort-dropdown 
                                  (sortChanged)="onSortChange('createdAt', $event)" 
                                  (filterChanged)="onFilterChange($event)"
                                ></app-filter-sort-dropdown>
                                </th>
                                
                                <th>
                                  Status
                                  <app-filter-sort-dropdown 
                                  (sortChanged)="onSortChange('status', $event)" 
                                  (filterChanged)="onFilterChange($event)"
                                ></app-filter-sort-dropdown>
                                </th> -->
                                <th>
                                  Start Date
                                  <app-filter-sort-dropdown 
                                  (sortChanged)="onSortChange('statusChangeTimestamp', $event)" 
                                  (filterChanged)="onFilterChange($event)"
                                ></app-filter-sort-dropdown>
                                </th>
                              </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let userCourse of paginatedUserCourses; let i = index" class="hover:bg-gray-100">
                                <td class="table-cell-height">{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
                                <td class="table-cell-height">{{ userCourse.user?.staffId }}</td>
                                <td class="table-cell-height">{{ userCourse.user?.name }}</td>
                                <td class="table-cell-height">{{ userCourse.course?.name }}</td>
                                
                                <td class="table-cell-height">{{ userCourse.user?.team }}</td>
                                <td class="table-cell-height">{{ userCourse.progressOutput}}</td>
                                
                                <td class="table-cell-height">{{ userCourse.certificateOutput}}</td>
                
                                <!-- <td class="table-cell-height">{{ userCourse.createdAt | date:'dd-MMMM-yy' }}</td>
                                <td class="table-cell-height">
                                  <div class="icon-container status-cell">
                                    <i *ngIf="userCourse.status === 'Accept'" class="fa-solid fa-circle-check" style="color: green; font-size: 24px;"></i>
                                    <i *ngIf="userCourse.status === 'Reject'" class="fa-solid fa-circle-xmark" style="color: red; font-size: 24px;"></i>
                      
                      
                                    <div *ngIf="userCourse.status === 'Pending'" class="d-flex justify-content-around status-buttons">
                                      <button class="accept-button" (click)="acceptStudent(userCourse)">
                                        <i class="fa-regular fa-circle-check icon-green"></i>
                                      </button>
                                      <button class="reject-button" (click)="rejectStudent(userCourse)">
                                        <i class="fa-regular fa-circle-xmark icon-red"></i>
                                      </button>
                                    </div>
                                    
                                  </div>
                                  </td> -->
                                  <td class="table-cell-height">{{ userCourse.statusChangeTimestamp | date:'dd-MMMM-yy' }}</td>
                
                                  
                              </tr>
                        </tbody>
                        </table>
                    </div>
                    </div>