<div class="flex justify-center">
  <div class="w-full max-w-md mt-8">
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <h3 class="text-center text-xl font-bold mb-4">Create Category</h3>
      <hr class="mb-4">
      <form #categoryForm="ngForm" (ngSubmit)="onSubmit(categoryForm)" method="post">
        <div class="mb-4">
          <label for="name" class="block text-gray-700 font-bold mb-2">Name:</label>
          <input type="text"
                 class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                 id="name"
                 name="name"
                 [(ngModel)]="category.name"
                 #name="ngModel"
                 required
                 (input)="validateCategoryName(category.name)">
          <div *ngIf="name.errors?.['required'] && (name.dirty || name.touched)" class="text-red-500 text-xs italic mt-1">
            Name is required.
          </div>
          <div *ngIf="nameDuplicateError" class="text-red-500 text-xs italic mt-1">
            This category name already exists.
          </div>
        </div>
        <div class="flex items-center justify-between">
          <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" [disabled]="nameDuplicateError">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
