<div class="flex min-h-screen bg-gray-50">
  <div class="container mx-auto p-6">
    <div class="max-w-4xl mx-auto bg-white shadow-xl rounded-lg overflow-hidden">
      <div class="px-8 py-6" #questionFormContainer>
         <!-- Go Back Button -->
         <div class="flex justify-start mb-6">
          <button
            type="button"
            (click)="goBack()"
            class="bg-gray-100 hover:bg-gray-400 text-logo-blue font-semibold py-2 px-4 rounded-lg shadow-md transition duration-300 ease-in-out transform hover:scale-105">
            <i class="fas fa-arrow-left fa-xl mr-2"></i>
          </button>
        </div>
        <div class="font-bold text-3xl mb-4 text-center text-logo-blue">{{exam.title}}</div>
        <div class="font-semibold text-xl mb-4 text-center text-logo-blue">{{exam.description}}</div>
       
          <div *ngIf="exam.finalExam" class="font-semibold text-xl mb-4 text-center text-logo-blue">Pass Score  : {{ exam.passScore }}</div>
    
        <div *ngIf="showResults" class="text-center text-logo-blue font-semibold mb-4">
          Total Points: {{totalMarks}} / {{questionTotalMarks}}
        </div>
        <div *ngIf="remainingTime > 0 && !isOwner && !hasRole(2) " class="font-semibold text-xl mb-4 text-center text-logo-blue">{{ formatTime(remainingTime) }}</div>
        <div *ngIf="remainingTime <= 0 && !isOwner && !hasRole(2) " class="font-semibold text-xl mb-4 text-center text-red-600">Time's up!</div>
        

        <form class="space-y-6 text-lg">
          <div *ngFor="let question of questions; let i = index" class="p-6 bg-gray-100 rounded-lg mb-6 shadow-inner">
            <div class="font-semibold mb-3 flex items-center justify-between">
              <span>{{ i + 1 }}. {{ question.text }}</span>
              <div class="flex items-center">
                <span>{{question.marks}}</span>
                <span class="ml-1">{{ question.marks === 1 ? 'Point' : 'Points' }}</span>
              </div>
            </div>
            <div *ngFor="let option of question.options; let j = index" class="flex items-center mb-3">
              <input
                [type]="question.type === 'multiple-choice' ? 'radio' : 'checkbox'"
                [checked]="option.isAnswered"
                [disabled]="showResults"
                (change)="selectOption(i, j)"
                class="mr-3"
                [id]="question.id + '-' + option.id"
                [name]="'question' + i"
                class="form-checkbox h-5 w-5 text-logo-blue"
              />
              <label [for]="question.id + '-' + option.id" class="cursor-pointer">
                {{option.label}}
              </label>
              <span *ngIf="showResults && option.isCorrect" class="text-green-500 font-semibold ml-2">(Correct Answer)</span>
            </div>

            <div *ngIf="isOwner || hasRole(2)" class="mt-3">
              <div *ngIf="question.correctAnswers && question.correctAnswers.length > 0">
                <span class="font-semibold text-logo-blue">Correct Answers:</span>
                <ul class="list-disc ml-5 mt-2">
                  <li *ngFor="let correctAnswerId of question.correctAnswers">
                    {{ getOptionLabel(question, correctAnswerId) }}
                  </li>
                </ul>
              </div>
            </div>

            <div *ngIf="showResults" class="mt-3">
              <div *ngIf="question.correctAnswers && question.correctAnswers.length > 0">
                <span class="font-semibold text-logo-blue">Correct Answers:</span>
                <ul class="list-disc ml-5 mt-2">
                  <li *ngFor="let correctAnswer of question.correctAnswers">
                    {{ getOptionLabel(question, correctAnswer) }}
                  </li>
                </ul>
              </div>
              <div *ngIf="question.correctAnswers && question.correctAnswers.length === 0">
                <span class="font-semibold text-red-500">No correct answers available for this question.</span>
              </div>
            </div>
          </div>
        </form>

        <div class="flex justify-center mt-8">
          <button *ngIf="!isOwner && !hasRole(2) && !showResults"
            type="button"
            [disabled]="showResults"
            (click)="submitAnswers()"
            class="bg-logo-blue hover:bg-dark-blue text-white font-semibold py-3 px-6 rounded-lg shadow-md transition duration-300 ease-in-out transform hover:scale-105">
            Submit Form
          </button>
          <button *ngIf="showResults"
            type="button"
            (click)="captureScreenshot()"
            class="bg-logo-blue hover:bg-dark-blue text-white font-semibold py-3 px-6 rounded-lg shadow-md transition duration-300 ease-in-out transform hover:scale-105 ml-4">
            Save Form
          </button>
          <button *ngIf="showResults && totalMarks >= exam.passScore "
            type="button"
            (click)="gotoCertificate()"
            class="bg-logo-blue hover:bg-dark-blue text-white font-semibold py-3 px-6 rounded-lg shadow-md transition duration-300 ease-in-out transform hover:scale-105 ml-4">
            Certificate
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
