<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <h3 class="text-center">Update Category</h3>
          <hr>
          <form #categoryForm="ngForm" (ngSubmit)="onSubmit(categoryForm)">
            <!-- ID Field (hidden) -->
            <input type="hidden" id="id" name="id" [(ngModel)]="category.id">
            
            <!-- Name Field -->
            <div class="form-group">
              <label for="categoryName">Category Name</label>
              <input type="text"
                     class="form-control"
                     id="categoryName"
                     [(ngModel)]="category.name"
                     name="categoryName"
                     required
                     (input)="checkDuplicateCategoryName()">
              <div *ngIf="categoryForm.controls['categoryName']?.errors?.['required'] && (categoryForm.controls['categoryName'].dirty || categoryForm.controls['categoryName'].touched)" class="text-danger">
                Category Name is required.
              </div>
              <div *ngIf="nameDuplicateError" class="text-danger">
                This category name already exists.
              </div>
            </div>

           
            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary" [disabled]="categoryForm.invalid || nameDuplicateError">Update Category</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
