<div class="timer flex items-center">
  <input 
    type="number" 
    [(ngModel)]="hours"
    min="0" 
    max="23" 
    placeholder="hours" 
    (ngModelChange)="updateDuration()" 
    class="bg-gray-100 w-12 px-2 py-1 border rounded focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500"
  >
  <span class="mx-2">:</span>
  <input 
    type="number" 
    [(ngModel)]="minutes"
    min="0" 
    max="59" 
    placeholder="minutes" 
    (ngModelChange)="updateDuration()"
    class="bg-gray-100 w-12 px-2 py-1 border rounded focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500"
  >
  <span class="mx-2">:</span>
  <input 
    type="number" 
    [(ngModel)]="seconds" 
    min="0" 
    max="59" 
    placeholder="seconds" 
    (ngModelChange)="updateDuration()"
    class="bg-gray-100 w-12 px-2 py-1 border rounded focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500"
  >
</div>
