<div class="min-h-screen bg-gray-100 flex flex-col">
  <!-- Navbar and Sidebar -->
  <app-instructor-navbar (toggleSidebarEvent)="toggleSidebar()"></app-instructor-navbar>
  <div class="flex flex-1">
    <app-instructor-sidebar [isSidebarOpen]="isSidebarOpen"></app-instructor-sidebar>
    <div class="flex-1 p-6">
      <!-- Flex container for course and student count cards -->
      <div class="flex flex-wrap mb-6 space-x-4">
        <!-- Courses Count Card -->
        <div class="bg-purple-200 rounded-lg shadow-lg p-4 max-w-sm flex items-center mb-6">
          <i class="fas fa-book text-4xl text-purple-500 mr-4"></i>
          <div>
            <h3 class="text-xl font-semibold mb-2">Courses</h3>
            <p class="text-lg">{{ courseCount }} courses accepted</p>
          </div>
        </div>

        <!-- Students Count Cards -->
        <div class="bg-purple-200 rounded-lg shadow-lg p-4 max-w-sm flex items-center mb-6" *ngFor="let count of studentCounts">
          <i class="fas fa-user-graduate text-4xl text-purple-500 mr-4"></i>
          <div>
            <h3 class="text-xl font-semibold mb-2">Student</h3>
            <p>{{ count.acceptedCount }} students accepted</p>
          </div>
        </div>
      </div>

      <!-- Chart Section -->
      <div class="w-full h-80 mt-12">
        <canvas id="myChart" class="rounded-lg shadow-lg"></canvas>
      </div>
    </div>
  </div>
</div>
