<div class="min-h-screen bg-gray-100 flex flex-col">
  <app-admin-navbar (toggleSidebarEvent)="toggleSidebar()"></app-admin-navbar>
  <div class="flex flex-1">
    <app-admin-sidebar [isSidebarOpen]="isSidebarOpen"></app-admin-sidebar>

    <main class="flex-1 p-6 max-h-[80vh] overflow-y-auto pr-4">
      <section>
        <div class="flex border-b">

          <button (click)="goBack()" class="py-2 px-4 text-sm font-medium text-logo-blue hover:text-blue-800 focus:outline-none flex items-center">
            <i class="fas fa-arrow-left mr-2"></i> Go Back
          </button>
          
          <button
            class="py-2 px-4 text-md font-medium text-logo-blue hover:text-blue-800 focus:outline-none"
            [ngClass]="{ 'border-b-2 border-blue-600': activeTab === 'createLesson' }"
            (click)="setActiveTab('createLesson')"
          >
            Add Lesson
          </button>
        </div>

        
<!-- Main container with flex properties -->
<div *ngIf="activeTab === 'createLesson'" class="p-4 flex">
  <div class="flex flex-wrap w-full">
    <!-- Lesson form container -->
    <div class="w-full lg:w-7/12 xl:w-6/12 p-2">
      <div class="bg-white rounded-lg shadow-md p-6">
        <form class="flex flex-col" #courseForm="ngForm" (ngSubmit)="onSubmit(courseForm)" method="post">
          <input
            type="text"
            class="bg-gray-100 text-gray-800 border-0 rounded-md p-2 mb-4 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150"
            id="name"
            name="name"
            [(ngModel)]="course.name"
            required
            (input)="validateCourseName(course.name)"
            placeholder="Lesson Title"
          />
          <button
            type="submit"
            class="bg-logo-blue from-dark-blue to-logo-blue text-white font-bold py-2 px-4 rounded-md mt-4 hover:bg-dark-blue hover:to-logo-blue transition ease-in-out duration-150"
            [disabled]="nameDuplicateError"
          >
            Submit
          </button>
        </form>
      </div>
    </div>

    <!-- Lesson List -->
    <div class="w-full lg:w-7/12 xl:w-6/12 p-2">
      <div class="bg-white rounded-lg shadow-md p-4">
        <ul class="space-y-4">
          <li *ngFor="let lesson of lessons" (click)="navigateToLesson(lesson.id)" class="group">
            <button class="w-full flex justify-between items-center p-3 rounded-lg border border-dark-blue text-logo-blue font-bold group-hover:bg-blue-100">
              <span>{{lesson.title}}</span>
              <i class="fas fa-chevron-right"></i>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>      
      </section>
    </main>
  </div>
</div>
