<div class="flex w-full justify-between items-center">
    <!-- Previous button -->
    <button *ngIf="slideConfig.showLeftRightArrow" (click)="prev()" class="w-8 sm:w-10 sm:h-10 h-8 rounded-full flex bg-white text-dark-blue">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 sm:w-6 h-5 sm:h-6 m-auto">
        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75" />
      </svg>
    </button>
  
    <!-- Slider container -->
    <div #slideContainer class="w-full overflow-hidden">
      <ul #slider class="flex transition-all duration-300"
          [style.width.px]="sliderWidth"
          [style.marginLeft.px]="sliderMarginLeft">
        <li class="cursor-pointer" (click)="onCategoryClick(category)" [style.width.px]="slideWidth" *ngFor="let category of items">
          <ng-content *ngTemplateOutlet="template || defaultTemplate; context: { $implicit: category }"></ng-content>
        </li>
      </ul>
    </div>
  
    <!-- Next button -->
    <button *ngIf="slideConfig.showLeftRightArrow" (click)="next()" class="w-8 sm:w-10 sm:h-10 h-8 rounded-full flex bg-white text-dark-blue">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 sm:w-6 h-5 sm:h-6 m-auto">
        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75" />
      </svg>
    </button>
  </div>
  
  <!-- Dots navigation -->
  <div *ngIf="slideConfig.showDots && dots.length > 1" class="flex justify-center mt-10">
    <ul class="flex gap-2">
      <li (click)="move(i + 1)" *ngFor="let dot of dots; let i = index">
        <span class="w-4 h-4 rounded-full bg-emerald-600" [class.bg-opacity-20]="i + 1 !== activeSlideID"></span>
      </li>
    </ul>
  </div>
  
  <!-- Default template for slider items -->
  <ng-template #defaultTemplate let-category>
    <div class="mx-5 rounded-2xl px-5 py-5 text-logo-blue font-bold text-center border-2 border-dark-blue border-opacity-10 h-12 flex items-center justify-center text-md">
      {{ category.name }}
    </div>
  </ng-template>
  