<div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center">
    <div class="bg-white rounded-lg p-6 shadow-lg w-96">
      <h2 class="text-xl font-bold mb-4">Change Password</h2>

      <div *ngIf="errorMessage" class="text-red-500 mb-4">{{ errorMessage }}</div>
      
      <form (ngSubmit)="submitChangePassword()">
        <div class="mb-4 relative">
          <label for="newPassword" class="block font-semibold mb-1">New Password</label>
          <div class="relative">
            <input [type]="showNewPassword ? 'text' : 'password'" id="newPassword" [(ngModel)]="newPassword" name="newPassword" 
                   (input)="onInputChange()" class="w-full p-2 border rounded pr-12" required />
            <button type="button" (click)="togglePasswordVisibility('new')" class="absolute inset-y-0 right-0 flex items-center px-3">
              <i class="fa-solid" [ngClass]="showNewPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
            </button>
          </div>
        </div>
        
        <div class="mb-4 relative">
          <label for="confirmPassword" class="block font-semibold mb-1">Confirm Password</label>
          <div class="relative">
            <input [type]="showConfirmPassword ? 'text' : 'password'" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" 
                   (input)="onInputChange()" class="w-full p-2 border rounded pr-12" required />
            <button type="button" (click)="togglePasswordVisibility('confirm')" class="absolute inset-y-0 right-0 flex items-center px-3">
              <i class="fa-solid" [ngClass]="showConfirmPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
            </button>
          </div>
        </div>
        
        
        
        <div class="flex justify-end">
          <button type="button" (click)="closeModal()" class="mr-2 px-4 py-2 bg-gray-500 text-white rounded">Cancel</button>
          <button type="submit" class="px-4 py-2 bg-blue-600 text-white rounded">Submit</button>
        </div>
      </form>
    </div>
  </div>
  