<ng-template [ngIf]="check" [ngIfElse]="noData">
    <div class="row">
        <h2>Course List</h2>
    </div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Category ID</th>
                <th>Category Name</th>
               
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of categories">
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                
                <td>
                    <button  (click)="updateCategory(category.id)" class="btn btn-primary">Update</button>
                    <button (click)="softDeleteCategory(category.id)" class="btn btn-danger">Delete</button>
                    <button  (click)="categoryDetails(category.id)" class="btn btn-primary ml-2">View</button>
                </td>
            </tr>
        </tbody>
    </table>
</ng-template>
<ng-template #noData>
    <h4>No Course Found!</h4>
</ng-template>
