<div class="min-h-screen bg-gray-100 flex flex-col">
    <app-admin-navbar (toggleSidebarEvent)="toggleSidebar()"></app-admin-navbar>
    <div class="flex flex-1">
      <app-admin-sidebar [isSidebarOpen]="isSidebarOpen"></app-admin-sidebar>


      <main class="flex-1 p-6">
        <section class="scrollable-section">
              <div class="flex border-b">
                <button
                    class="py-2 px-4 text-md font-medium text-logo-blue hover:text-blue-800 focus:outline-none"
                    [ngClass]="{ 'border-b-2 border-blue-600': activeTab === 'attendStudent' }"
                    (click)="setActiveTab('attendStudent')"
                    >
                    Attend Student
                </button>

                <button
                  class="py-2 px-4 text-md font-medium text-logo-blue hover:text-blue-800 focus:outline-none"
                  [ngClass]="{ 'border-b-2 border-blue-600': activeTab === 'studentList' }"
                  (click)="setActiveTab('studentList')"
                >
                  Student List
                </button>

            </div>

            <div *ngIf="activeTab === 'studentList'" class="p-4">
                <app-admin-student-list></app-admin-student-list>
              </div>

                <div  *ngIf="activeTab === 'attendStudent'" class="flex-1 p-6">
                    <div class="datatable-container bg-white p-6 rounded-lg shadow-lg">
                    <div class="flex justify-between items-center mb-4">
                        <input 
                        type="text" 
                        class="form-control w-1/4 p-2 border rounded" 
                        placeholder="Search..." 
                        [(ngModel)]="searchTerm" 
                        (ngModelChange)="onSearchChange()" 
                        />
            
                        <div class="pagination-controls flex items-center space-x-2">
                        <button 
                            (click)="firstPage()" 
                            [disabled]="currentPage === 1" 
                            class="btn bg-gray-200 text-gray-700 p-2 rounded hover:bg-gray-300"
                        >
                            <i class="fas fa-angle-double-left"></i>
                        </button>
                        <button 
                            (click)="previousPage()" 
                            [disabled]="currentPage === 1" 
                            class="btn bg-gray-200 text-gray-700 p-2 rounded hover:bg-gray-300"
                        >
                            <i class="fas fa-angle-left"></i>
                        </button>
                        <span class="flex items-center">
                            Page 
                            <input 
                            type="number" 
                            class="page-input mx-2 w-16 text-center border rounded p-1" 
                            [(ngModel)]="currentPage" 
                            (ngModelChange)="goToPage($event)" 
                            min="1" 
                            [max]="totalPages" 
                            /> 
                            of {{ totalPages }}
                        </span>
                        <button 
                            (click)="nextPage()" 
                            [disabled]="currentPage === totalPages" 
                            class="btn bg-gray-200 text-gray-700 p-2 rounded hover:bg-gray-300"
                        >
                            <i class="fas fa-angle-right"></i>
                        </button>
                        <button 
                            (click)="lastPage()" 
                            [disabled]="currentPage === totalPages" 
                            class="btn bg-gray-200 text-gray-700 p-2 rounded hover:bg-gray-300"
                        >
                            <i class="fas fa-angle-double-right"></i>
                        </button>
                        </div>
                    </div>
            
                    <div class="table-responsive">
                        <table class="table-auto w-full border-collapse">
                        <thead class="bg-logo-blue text-white">
                            <tr>
                            <th class="p-2 border">No</th>
                            <th class="p-2 border">Course Name</th>
                            <th class="p-2 border">Student Name</th>
                            <th class="p-2 border">Dept</th>
                            <th class="p-2 border">Team</th>
                            <th class="p-2 border">Email</th>
                            <th class="p-2 border">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let userCourse of paginatedUserCourses; let i = index" class="hover:bg-gray-100">
                            <td class="p-2 border">{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
                            <td class="p-2 border">{{ userCourse.course?.name }}</td>
                            <td class="p-2 border">{{ userCourse.user?.name }}</td>
                            <td class="p-2 border">{{ userCourse.user?.department }}</td>
                            <td class="p-2 border">{{ userCourse.user?.team }}</td>
                            <td class="p-2 border">{{ userCourse.user?.email }}</td>
                            <td class="p-2 border">


                                <div class="icon-container status-cell">
                                    <i *ngIf="userCourse.status === 'accept'" class="fa-solid fa-circle-check" style="color: green; font-size: 24px;"></i>
                                    <i *ngIf="userCourse.status === 'reject'" class="fa-solid fa-circle-xmark" style="color: red; font-size: 24px;"></i>
                      
                      
                                    <div *ngIf="userCourse.status === 'pending'" class="d-flex justify-content-around status-buttons">
                                      <button class="accept-button" (click)="acceptStudent(userCourse)">
                                        <i class="fa-regular fa-circle-check icon-green"></i>
                                      </button>
                                      <button class="reject-button" (click)="rejectStudent(userCourse)">
                                        <i class="fa-regular fa-circle-xmark icon-red"></i>
                                      </button>
                                    </div>
                                    
                                  </div>

                                <!-- <i 
                                class="fas fa-check fa-xl cursor-pointer "
                                style="color: green;"
                                (click)="acceptStudent(userCourse)"
                                ></i>
                                
                                <i 
                                class="fas fa-times fa-xl cursor-pointer ml-4"
                                style="color: red;"
                                (click)="rejectStudent(userCourse)"
                                ></i>
                                </td>
                                <td class="p-2 border">
                                <span 
                                    [ngClass]="{
                                    'text-green-700': userCourse.status === 'accept',
                                    'text-red-500': userCourse.status === 'reject',
                                    'text-yellow-500': userCourse.status === 'pending'
                                    }"
                                >
                                    {{ userCourse.status }}
                                </span> -->
                                
                                </td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                    </div>
                </div>
    
            </section>
        </main>
    </div>
  </div>
  