<!-- Profile Picture -->
<div class="relative inline-block text-left">


  <div class="flex flex-col items-start absolute -left-40 top-1 bg-white p-2 z-10">
    <div class="text-sm font-semibold text-gray-800">
      {{ name }}
    </div>
    <div *ngIf="roles.length > 0" class="roles-list text-sm">
      {{ roles[0].name }}
    </div>
  </div>

  <img [src]="photo" class="w-14 h-14 rounded-full cursor-pointer border-2 border-logo-blue" (click)="toggleDropdown()">

  <!-- Dropdown Menu -->
  <div *ngIf="isDropdownOpen" class="origin-top-right absolute right-0 mt-2 w-40 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 border border-blue-500 z-50">
    <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
      <a *ngIf="!hasRole(2)" href="student/profile" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">
        <i class="fas fa-user mr-2"></i> Profile
      </a>
      <a *ngIf="hasRole(2)" href="admin/profile" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">
        <i class="fas fa-user-cog mr-2"></i> Profile
      </a>
      
      <a href="#" (click)="logout()" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">
        <i class="fas fa-sign-out-alt mr-2"></i> Logout
      </a>
    </div>
  </div>
  
</div>
