<!-- Profile Picture -->
<div class="relative inline-block text-left">
    <img [src]="photo" class="w-14 h-14 rounded-full cursor-pointer border-2 border-logo-blue" (click)="toggleDropdown()">
  
    <!-- Dropdown Menu -->
    <div *ngIf="isDropdownOpen" class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 border border-blue-500">
      <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
        <a href="instructor/profile" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Profile</a>
        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Settings</a>
        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Logout</a>
      </div>
    </div>
  </div>
  