<!-- <div class="form-container">
  <input type="number" [(ngModel)]="examId" placeholder="Exam Id" class="form-title-input">
  <textarea [(ngModel)]="formDescription" placeholder="Form Description" class="form-description-input"></textarea>

  <div *ngFor="let question of questions; let qIndex = index" class="question">
    <input type="text" [(ngModel)]="question.text" placeholder="Question Text" class="question-text-input">
    
    <select [(ngModel)]="question.type" class="question-type-select">
      <option value="multiple-choice">Multiple Choice</option>
      <option value="checkbox">Checkbox</option>
    </select>

    <div class="options-container">
      <div *ngFor="let option of question.options; let oIndex = index" class="option">
        <div class="option-label">
          <input type="text" [(ngModel)]="option.label" placeholder="Option Label" class="option-label-input">
        </div>
        <div class="option-input">
          <input *ngIf="question.type === 'multiple-choice'" type="radio" [id]="'q' + qIndex + 'o' + oIndex" [name]="'question' + qIndex" [(ngModel)]="option.isAnswered" [value]="true">
          <input *ngIf="question.type === 'checkbox'" type="checkbox" [id]="'q' + qIndex + 'o' + oIndex" [(ngModel)]="option.isAnswered">
        </div>
      </div>
    </div>

    <button (click)="addOption(qIndex)">Add option</button>
  </div>
  
  <button (click)="addQuestion()">Add Question</button>
  <button (click)="submitForm()">Submit Form</button>
</div> -->

<!-- <div class="form-container">
  <input type="number" [(ngModel)]="examId" placeholder="Exam Id" class="form-title-input">
  <textarea [(ngModel)]="formDescription" placeholder="Form Description" class="form-description-input"></textarea>

  <div *ngFor="let question of questions; let qIndex = index" class="question">
    <input type="text" [(ngModel)]="question.text" placeholder="Question Text" class="question-text-input">
    
    <select [(ngModel)]="question.type" class="question-type-select">
      <option value="multiple-choice">Multiple Choice</option>
      <option value="checkbox">Checkbox</option>
    </select>

    <div class="options-container">
      <div *ngFor="let option of question.options; let oIndex = index" class="option">
        <div class="option-label">
          <input type="text" [(ngModel)]="option.label" placeholder="Option Label" class="option-label-input">
        </div>
        <div class="option-input">
          <input *ngIf="question.type === 'multiple-choice'" type="radio" [id]="'q' + qIndex + 'o' + oIndex" [name]="'question' + qIndex" [(ngModel)]="question.options[oIndex].isAnswered" [value]="true">
          <input *ngIf="question.type === 'checkbox'" type="checkbox" [id]="'q' + qIndex + 'o' + oIndex" [(ngModel)]="question.options[oIndex].isAnswered">
        </div>
      </div>
    </div>

    <button (click)="addOption(qIndex)">Add option</button>
  </div>
  
  <button (click)="addQuestion()">Add Question</button>
  <button (click)="submitForm()">Submit Form</button>
</div> -->
<!-- <div class="form-container">
  <input type="number" [(ngModel)]="examId" placeholder="Exam Id" class="form-title-input">
  <textarea [(ngModel)]="formDescription" placeholder="Form Description" class="form-description-input"></textarea>

  <div *ngFor="let question of questions; let qIndex = index" class="question">
    <input type="text" [(ngModel)]="question.text" placeholder="Question Text" class="question-text-input">
    
    <select [(ngModel)]="question.type" class="question-type-select">
      <option value="multiple-choice">Multiple Choice</option>
      <option value="checkbox">Checkbox</option>
    </select>

    <div class="options-container">
      <div *ngFor="let option of question.options; let oIndex = index" class="option">
        <div class="option-label">
          <input type="text" [(ngModel)]="option.label" placeholder="Option Label" class="option-label-input">
        </div>
        <div class="option-input">
          <input *ngIf="question.type === 'multiple-choice'" 
                 type="radio" 
                 [id]="'q' + qIndex + 'o' + oIndex" 
                 [name]="'question' + qIndex" 
                 [checked]="option.isAnswered" 
                 (change)="option.isAnswered = true">
          
          <input *ngIf="question.type === 'checkbox'" 
                 type="checkbox" 
                 [id]="'q' + qIndex + 'o' + oIndex" 
                 [(ngModel)]="option.isAnswered">
        </div>
      </div>
    </div>

    <button (click)="addOption(qIndex)">Add option</button>
  </div>
  
  <button (click)="addQuestion()">Add Question</button>
  <button (click)="submitForm()">Submit Form</button>
</div> -->
<div class="form-container">
    <input type="number" [(ngModel)]="examId" placeholder="Exam Id" class="form-title-input">
    <textarea [(ngModel)]="formDescription" placeholder="Form Description" class="form-description-input"></textarea>
  
    <div *ngFor="let question of questions; let qIndex = index" class="question">
      <input type="text" [(ngModel)]="question.text" placeholder="Question Text" class="question-text-input">
      
      <select [(ngModel)]="question.type" class="question-type-select">
        <option value="multiple-choice">Multiple Choice</option>
        <option value="checkbox">Checkbox</option>
      </select>
  
      <div class="options-container">
        <div *ngFor="let option of question.options; let oIndex = index" class="option">
          <div class="option-label">
            <input type="text" [(ngModel)]="option.label" placeholder="Option Label" class="option-label-input">
          </div>
          <div class="option-input">
            <input *ngIf="question.type === 'multiple-choice'" 
                   type="radio" 
                   [id]="'q' + qIndex + 'o' + oIndex" 
                   [name]="'question' + qIndex" 
                   [checked]="option.isAnswered" 
                   (change)="selectOption(qIndex, oIndex)">
                             
            <input *ngIf="question.type === 'checkbox'" 
                   type="checkbox" 
                   [id]="'q' + qIndex + 'o' + oIndex" 
                   [(ngModel)]="option.isAnswered">
          </div>
        </div>
      </div>
  
      <button (click)="addOption(qIndex)">Add option</button>
    </div>
    
    <button (click)="addQuestion()">Add Question</button>
    <button (click)="submitForm()">Submit Form</button>
  </div>
  
  