.chart-container {
  width: 100%;
  height: 90%; /* Adjust based on card content */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px; /* Adjust this value to move the chart up */
  transform: scale(0.9); /* Adjust this value to make the chart smaller */
  transform-origin: top; /* Ensure scaling is from the top */
}

canvas {
  width: 100% !important;
  height: 100% !important;
}
