.big-card {
  width: 100%;
  max-width: 600px; /* Reduce the max-width for a smaller card */
  height: auto; /* Adjust the height as needed */
  margin: 0 auto;
}

.chart-card {
  margin-top: 0;
  position: relative;
  top: -30px;
}

.chart-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto; /* Adjust height as needed */
  padding-top: 2px; /* Remove any padding at the bottom */
  padding-bottom: 0px;
}

.scrollable-section {
  max-height: 80vh; /* Adjust as needed */
  overflow-y: auto;
  padding-right: 15px; /* To avoid content hidden behind scrollbar */
}
