<div class="min-h-screen bg-gray-100 flex flex-col">
  <app-admin-navbar (toggleSidebarEvent)="toggleSidebar()"></app-admin-navbar> 
  
  <div class="flex flex-1">
    <app-admin-sidebar [isSidebarOpen]="isSidebarOpen"></app-admin-sidebar>
  
    <main class="flex-1 p-12 scrollable-section">
      <div *ngIf="showNotificationsPage">
        <app-notification></app-notification>
      </div> 

      <div class="flex-1 p-6">
        <!-- Flex container for course and student count cards -->
        <div class="flex flex-wrap mb-6 space-x-4"> 
          <div class="bg-purple-200 rounded-lg shadow-lg p-4 max-w-sm flex items-center mb-6" >
            <i class="fas fa-book text-4xl text-purple-500 mr-4"></i>
            <div>
              <h3 class="text-xl font-semibold mb-2">Courses</h3>
              <p>{{ acceptedCourseCount }} courses accepted</p>
            </div>
          </div>
      <div class="bg-purple-200 rounded-lg shadow-lg p-4 max-w-sm flex items-center mb-6">
        <i class="fas fa-user-graduate text-4xl text-purple-500 mr-4"></i>
        <div>
          <h3 class="text-xl font-semibold mb-2">Students</h3>
          <p>{{ totalStudentCount }} students accepted</p>
        </div>
      </div>
     
</div>
      <!-- Bar Chart within a Bigger Card -->
      <div class="w-full h-80 mt-12">
        <mat-card class="w-full max-w-[600px] mx-auto">
          <mat-card-header>
            <mat-card-title>Course</mat-card-title>
            <!-- <mat-card-subtitle>Monthly Data</mat-card-subtitle> -->
          </mat-card-header>
          <mat-card-content class="flex justify-center items-center w-full pt-1 pb-0">
            <app-admin-chart [chartType]="'bar'"></app-admin-chart>
          </mat-card-content>
        </mat-card>
      </div>
      </div>
    </main>
  </div>
</div>
