<div class="min-h-screen bg-gray-100 flex flex-col">
  <app-admin-navbar (toggleSidebarEvent)="toggleSidebar()"></app-admin-navbar> 

  <div class="flex flex-1">
    <app-admin-sidebar [isSidebarOpen]="isSidebarOpen"></app-admin-sidebar>
  
    <main class="flex-1 p-2 scrollable-section">
      <div *ngIf="showNotificationsPage">
        <app-notification></app-notification>
      </div> 

      <div class="flex-1 p-3">
        <!-- Flex container for course and student count cards -->
        <div class="flex flex-wrap p-6">
          <div class="bg-purple-170 rounded-lg shadow-lg p-4 max-w-sm flex items-center mb-8 mr-8"> <!-- Increased margin here -->
            <i class="fas fa-book text-4xl text-purple-500 mr-10"></i>
            <div>
              <h3 class="text-xl font-semibold mb-2">Courses</h3>
              <p>{{ acceptedCourseCount }} courses accepted</p>
            </div>
          </div>
          <div class="bg-purple-170 rounded-lg shadow-lg p-4 max-w-sm flex items-center mb-8"> 
            <i class="fas fa-user-graduate text-4xl text-purple-500 mr-10"></i>
            <div>
              <h3 class="text-xl font-semibold mb-2">Students</h3>
              <p>{{ totalStudentCount }} students accepted</p>
            </div>
          </div>

          <div class="bg-purple-200 rounded-lg shadow-lg p-4 max-w-sm flex items-center mb-6">
            <i class="fas fa-chalkboard-teacher text-4xl text-purple-500 mr-4"></i>
            <div>
              <h3 class="text-xl font-semibold mb-2">Instructors</h3>
              <p>{{ instructorCount }} instructors</p>
            </div>
          </div>
    
          <div class="bg-purple-200 rounded-lg shadow-lg p-4 max-w-sm flex items-center mb-6">
            <i class="fas fa-users text-4xl text-purple-500 mr-4"></i>
            <div>
              <h3 class="text-xl font-semibold mb-2">Active Users</h3>
              <p class="text-lg">{{ activeUserCount }} active users</p>
            </div>
          </div>
        </div>
        
        

       <!-- Flex container for course bar chart and pie chart -->
       <div class="flex flex-wrap">
        <!-- Course Bar Chart -->
        <div class="flex-1 min-w-[300px] h-80 mt-4 mx-2">
          <mat-card class="w-full h-full flex flex-col">
            <mat-card-header class="flex justify-center">
              <mat-card-title>Course</mat-card-title>
            </mat-card-header>
            <mat-card-content class="flex items-center justify-center w-full h-full p-2">
              <app-admin-chart [chartType]="'bar'" class="w-full h-full"></app-admin-chart>
            </mat-card-content>
          </mat-card>
        </div>
      
        <!-- Pie Chart -->
        <div class="flex-1 min-w-[300px] h-80 mt-4 mx-2">
          <p class="font-bold text-xl mb-2 flex flex-col items-center justify-center">Category Count</p>
          <app-admin-pie-chart class="w-full h-full"></app-admin-pie-chart>
        </div>
      </div>
      



        <!-- Monthly Students Bar Chart -->
        <div class="w-full h-80 mt-12">
          <mat-card class="w-full max-w-[1000px] mx-auto">
            <mat-card-header>
              <mat-card-title>Monthly Students</mat-card-title>
            </mat-card-header>
            <mat-card-content class="flex justify-center items-center w-full pt-1 pb-0">
              <app-admin-monthly-courses-chart [chartType]="'bar'"></app-admin-monthly-courses-chart>
            </mat-card-content>
          </mat-card>
        </div>
      
      </div>
    </main>
  </div>
</div>
