<div>
  <div *ngIf="courses.length > 0">
    <div *ngFor="let course of courses">
      <h2>{{ course.name }}</h2>
      <p>{{ course.description }}</p>
      <app-course-footer [course]="course" (enrolledClick)="onEnrolledClick($event)"></app-course-footer>
    </div>
  </div>
  <div *ngIf="courses.length === 0">
    <p>No courses available.</p>
  </div>

  <!-- Display selected course details -->
  <div *ngIf="selectedCourse" class="mt-5">
    <h3>Course Details</h3>
    <p><strong>ID:</strong> {{ selectedCourse.id }}</p>
    <p><strong>Name:</strong> {{ selectedCourse.name }}</p>
  </div>
</div>
