<!-- answer-form.component.html -->
<div class="form-container">
  <h2>Answer the questions</h2>
  <form [formGroup]="answerForm" (ngSubmit)="onSubmit()">
    <div formArrayName="answers" *ngFor="let answerGroup of answers.controls; let qIndex = index">
      <div [formGroupName]="qIndex" class="question">
        <p>{{ questions[qIndex].content }}</p>
        <div formArrayName="options" class="options-container">
          <div *ngFor="let optionControl of getOptionsForQuestion(qIndex).controls; let oIndex = index" class="option">
            <div [formGroupName]="oIndex">
              <label>
                <input type="radio" *ngIf="questions[qIndex].questionTypeId === 1" formControlName="isAnswered">
                <input type="checkbox" *ngIf="questions[qIndex].questionTypeId === 2" formControlName="isAnswered">
                {{ questions[qIndex].answerList[oIndex].answer }} <!-- Display answer option text -->
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button type="submit">Submit Answers</button>
  </form>
</div>
