<!-- submit-form.component.html -->

<div class="form-container">
    <!-- Loop through each question -->
    <div *ngFor="let question of questions; let qIndex = index" class="question">
      <p>{{ question.content }}</p>
      
      <div class="options-container">
        <!-- Loop through each answer option for the question -->
        <div *ngFor="let answer of question.answerList; let aIndex = index" class="option">
          <label>
            <!-- Radio button for single choice questions -->
            <input *ngIf="question.questionTypeId === 1" 
                   type="radio" 
                   [name]="'question_' + qIndex" 
                   [value]="answer.id" 
                   [(ngModel)]="studentAnswers[qIndex].answerOptionId">
            
            <!-- Checkbox for multiple choice questions -->
            <input *ngIf="question.questionTypeId === 2" 
                   type="checkbox" 
                   [name]="'question_' + qIndex + '_' + aIndex" 
                   [value]="answer.id" 
                   [(ngModel)]="answer.isAnswered">
            
            {{ answer.answer }}
          </label>
        </div>
      </div>
    </div>
    
    <!-- Submit button to submit answers -->
    <button (click)="submitAnswers()">Submit Answers</button>
  </div>
  
  <!-- Show results section -->
  <div *ngIf="showResults" class="results">
    <h3>Results</h3>
    <div *ngFor="let question of questions; let qIndex = index" class="question-result">
      <p>{{ question.content }}</p>
      <div *ngIf="question.questionTypeId === 1" class="answer-result">
        Your Answer: {{ getSelectedAnswerText(question, studentAnswers[qIndex].answerOptionId) }}
        <span *ngIf="isAnswerCorrect(question)" class="correct">Correct</span>
        <span *ngIf="!isAnswerCorrect(question)" class="incorrect">Incorrect</span>
      </div>
      <div *ngIf="question.questionTypeId === 2" class="answers-result">
        <div *ngFor="let answer of question.answerList" class="option">
          {{ answer.answer }}
          <span *ngIf="answer.isAnswered && answer.isAnswered" class="correct">Correct</span>
          <span *ngIf="answer.isAnswered && !answer.isAnswered" class="incorrect">Incorrect</span>
        </div>
      </div>
    </div>
  </div>
  