.container {
   
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .flex-col {
    display: flex;
    flex-direction: column;
  }
  
  .min-h-screen {
    min-height: 100vh;
  }
  
  .flex-grow {
    flex-grow: 1;
  }
  