<ng-template [ngIf]="check" [ngIfElse]="noData">
    <div class="container mx-auto mt-8">
      <h2 class="text-2xl mb-4">Category List</h2>
      <table class="min-w-full bg-white border-gray-200 shadow-md rounded-lg overflow-hidden">
        <thead class="bg-gray-200">
          <tr>
            <th class="px-6 py-3 border-b border-gray-300 text-left text-sm font-semibold text-gray-700">Category ID</th>
            <th class="px-6 py-3 border-b border-gray-300 text-left text-sm font-semibold text-gray-700">Category Name</th>
            <th class="px-6 py-3 border-b border-gray-300 text-left text-sm font-semibold text-gray-700">Actions</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          <tr *ngFor="let category of categories">
            <td class="px-6 py-4 whitespace-nowrap">{{ category.id }}</td>
            <td class="px-6 py-4 whitespace-nowrap">{{ category.name }}</td>
            <td class="px-6 py-4 whitespace-nowrap">
              <button (click)="updateCategory(category.id)" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Update</button>
              <button (click)="softDeleteCategory(category.id)" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded ml-2 focus:outline-none focus:shadow-outline">Delete</button>
             
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-template>
  <ng-template #noData>
    <div class="container mx-auto mt-8">
      <h4 class="text-xl">No Category Found!</h4>
    </div>
  </ng-template>
  