<!-- forget-password.component.html -->
<div class="parent">
  <div class="container">
    <form *ngIf="!otpSent">
      <h1>Reset Password</h1>
      <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
      <p class="success-message" *ngIf="successMessage">{{ successMessage }}</p>
      <input type="email" name="email" [(ngModel)]="resetEmail" placeholder="Email" required>
      <button type="button" (click)="sendOTP()">Send OTP</button>
      <a routerLink="/login">&larr; Back to Sign In</a>
    </form>

    <form *ngIf="otpSent && !otpMatched">
      <h1>Verify OTP</h1>
      <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
      <p class="success-message" *ngIf="successMessage">{{ successMessage }}</p>
      <div class="otp-container">
        <input type="text" class="otp-input" name="otp1" [(ngModel)]="otp[0]" maxlength="1" (input)="focusNext($event, 0)">
        <input type="text" class="otp-input" name="otp2" [(ngModel)]="otp[1]" maxlength="1" (input)="focusNext($event, 1)">
        <input type="text" class="otp-input" name="otp3" [(ngModel)]="otp[2]" maxlength="1" (input)="focusNext($event, 2)">
        <input type="text" class="otp-input" name="otp4" [(ngModel)]="otp[3]" maxlength="1" (input)="focusNext($event, 3)">
        <input type="text" class="otp-input" name="otp5" [(ngModel)]="otp[4]" maxlength="1" (input)="focusNext($event, 4)">
        <input type="text" class="otp-input" name="otp6" [(ngModel)]="otp[5]" maxlength="1" (input)="focusNext($event, 5)">
      </div>
      <button type="button" (click)="matchOTP()">Verify OTP</button>
    </form>

    <form *ngIf="otpSent && otpMatched">
  <h1>Change Password</h1>
  <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
  <p class="success-message" *ngIf="successMessage">{{ successMessage }}</p>
  <div class="password-container">
    <input [type]="showNewPassword ? 'text' : 'password'" name="newPassword" [(ngModel)]="newPassword" placeholder="New Password" required>
    <button type="button" class="toggle-button" (click)="togglePasswordVisibility('newPassword')">
      {{ showNewPassword ? 'Hide' : 'Show' }}
    </button>
  </div>
  <div class="password-container">
    <input [type]="showConfirmPassword ? 'text' : 'password'" name="confirmPassword" [(ngModel)]="confirmPassword" placeholder="Confirm Password" required>
    <button type="button" class="toggle-button" (click)="togglePasswordVisibility('confirmPassword')">
      {{ showConfirmPassword ? 'Hide' : 'Show' }}
    </button>
  </div>
  <button type="button" (click)="changePassword()">Change Password</button>
  <a routerLink="/login">&larr; Back to Sign In</a>
</form>

  </div>
</div>
