
<section class="pt-24 text-center">
  <div class="mt-12 container mx-auto">
    <h2 class="text-3xl font-bold mb-6">Latest Courses</h2>
    <div class="row justify-center">
      <ng-container *ngFor="let course of latestCourses" class="col-md-4">
        <div class="col">
          <app-card class="w-full" type="C" [input]="course"></app-card>
        </div>
      </ng-container>
    </div>
  </div>
</section>

<section class="pt-24 text-center">
  <div class="mt-12 container mx-auto">
    <h2 class="text-3xl font-bold mb-6">Trending Courses</h2>
    <div class="row justify-center">
      <ng-container *ngFor="let course of trendingCourses" class="col-md-4">
        <div class="col">
          <app-card class="w-full" type="C" [input]="course"></app-card>
          <!-- Replace 'app-card' with your actual component for displaying course details -->
        </div>
      </ng-container>
    </div>
  </div>
</section>
