<!-- Navbar -->
<nav class="bg-white shadow-md py-4">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex items-center justify-between">
    <div class="flex items-center">
      <a (click)="gohome()">
        <img src="../../assets/DAT.png" alt="" class="w-28 h-auto cursor-pointer">
      </a>
      <button class="ml-4 text-gray-500 focus:outline-none" (click)="toggleSidebar()">
        <i class="fas fa-bars text-lg" style="color: #336699;"></i>
      </button>
    </div>
    <div class="flex items-center ml-auto relative space-x-6"> <!-- Added space-x-4 for spacing -->
      <button class="text-gray-500 focus:outline-none text-2xl font-bold" (click)="navigateToConversationList()"> <!-- Added text-2xl and font-bold -->
        <i class="fa-solid fa-message"></i>
      </button>
      <app-nav-profile></app-nav-profile>
    </div>
  </div>
</nav>
