aside {
    transition: width 0.3s;
  }
  
  aside ul li a {
    transition: padding 0.3s;
  }
  
  aside ul li a.justify-center {
    justify-content: center;
  }
  .custom-font-size {
    font-size: 1.125rem; /* Equivalent to 18px */
  }