<ng-template [ngIf]="check" [ngIfElse]="noData">
    <div class="row">
        <h2>Course List</h2>
    </div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Course ID</th>
                <th>Course Name</th>
                <th>Course Level</th>
                <th>Course Duration</th>
                <th>Course Description</th>
                <th>Categories</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let course of courses">
                <td>{{ course.id }}</td>
                <td>{{ course.name }}</td>
                <td>{{ course.level }}</td>
                <td>{{ course.duration }}</td>
                <td>{{ course.description }}</td>
                <td>
                    <ul>
                        <li *ngFor="let category of course.categories">{{ category.name }}</li>
                    </ul>
                </td>
                <td>
                    <button *ngIf="course.id !== undefined" (click)="updateCourse(course.id!)" class="btn btn-primary">Update</button>
                    <button *ngIf="course.id !== undefined" (click)="deleteCourse(course.id!)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
                    <button *ngIf="course.id !== undefined" (click)="courseDetails(course.id!)" class="btn btn-primary" style="margin-left: 10px">View</button>
                </td>
            </tr>
        </tbody>
    </table>
</ng-template>
<ng-template #noData>
    <h4>No Course Found!</h4>
</ng-template>
