<div class="border border-dark-blue rounded-3xl p-3 max-w-sm">
  <img class="w-full h-32 object-cover rounded-lg" [src]="input.photo" alt="{{ input.name }}">
  <div class="flex justify-between mt-3 items-center">
    <div class="flex items-center gap-2">
      <!-- <img class="w-8 h-8 rounded-full" [src]="input.user?.photo" alt="{{ input.user?.name }}"> -->
      <h3 class="text-slate-500 font-bold text-lg ">
        {{ input.name }}
      </h3>    
    </div>
    <div>
      <button class="px-3 py-1 bg-logo-blue rounded text-opacity-80 text-white text-sm">
        <span *ngFor="let category of input.categories; let i = index">
          {{ category.name }}<span *ngIf="i < input.categories.length - 1">,</span>
        </span>      
      </button>
    </div>
  </div>
 
  <div class="flex items-center mt-2"> <!-- Align items horizontally -->
    <p class="text-slate-500 font-semibold text-sm">
      {{ input.user?.name }}
    </p>
    <p class="text-slate-600 text-sm ml-1"> <!-- Add a small margin to the left for spacing -->
      ({{ role }})
    </p>
  </div>
  <app-course-footer [course]="input" class="mt-2 block"></app-course-footer>
  
</div>
