<script src="https://cdn.tailwindcss.com"></script>
<app-navbar></app-navbar>

<div class="flex-grow container mx-auto pt-36 relative">

  <div class="container mx-auto p-4">
    <div class="flex flex-col md:flex-row">

      <!-- Right Panel -->
      <div class="md:w-2/5 p-4">

        <div class="bg-white p-4 rounded-lg shadow-3xl hover:shadow-3xl transition duration-300 hover:scale-105">
          <div class="flex flex-col items-center ">
            <div class="mt-4 w-full flex justify-start">

              <!-- Go Back -->
              <button class="cursor-pointer duration-200 hover:scale-125 active:scale-100" title="Go Back" (click)="goBack()">
                <i class="fa-solid fa-arrow-left text-xl"></i>
              </button>
            </div>

            <!-- Profile Picture -->
            <div class="flex-shrink-0 mr-8">
              <div class="relative w-40 h-40 rounded-full overflow-hidden border-4 border-gray-200">
                <img [src]="photo" alt="Profile Picture" class="w-full h-full object-cover">
                <div class="absolute inset-0 bg-gray-100 bg-opacity-50 flex items-center justify-center hover-overlay transition-opacity">
                  <label for="file-input" class="cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-8 w-8 text-white">
                      <path d="M21.5 4h-4.2l-1.3-1.5C15.5 1.2 14.8 1 14 1H10c-.8 0-1.5.2-2.1.5L6.7 4H2.5C1.1 4 0 5.1 0 6.5v15C0 22.9 1.1 24 2.5 24h19c1.4 0 2.5-1.1 2.5-2.5v-15c0-1.4-1.1-2.5-2.5-2.5zM12 20c-4.4 0-8-3.6-8-8s3.6-8 8-8 8 3.6 8 8-3.6 8-8 8zm4-9h-3v-3h-2v3h-3v2h3v3h2v-3h3v-2z"/>
                    </svg>
                  </label>
                  <input type="file" id="file-input" class="hidden" (change)="onFileSelected($event)">
                </div>
              </div>
            </div><br>


            <h1 class="text-2xl font-bold">{{name}}</h1><br>
            <p>Team: {{team}}</p>
            <p>Department: {{department}}</p>
            <p>Division: {{division}}</p>
            <p>Role: <span *ngFor="let role of roles; let i = index">{{role}}{{i < roles.length - 1 ? ', ' : ''
                  }}</span>
            </p>
          

            <br>
            
            <button class="bg-logo-blue text-white font-bold py-2 px-4 rounded-md hover:bg-dark-blue transition ease-in-out duration-150 mt-4"
              (click)="openChangePasswordModal()" 
              title="Change Password"
              aria-label="Change Password">
                Change Password
              </button>  

              <!-- Change Password Modal -->
              <div *ngIf="isChangePasswordModalOpen" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
                <div>
                  <app-change-password-modal (close)="isChangePasswordModalOpen = false"></app-change-password-modal>
                </div>
              </div>

            <!-- <h3 class="text-lg font-semibold mt-6 mb-2">Active in these Squads</h3>
            <div class="flex space-x-4">
              <div class="bg-gray-200 p-4 rounded-lg w-20 h-20 flex items-center justify-center">+</div>
              <div class="bg-gray-200 p-4 rounded-lg w-20 h-20 flex items-center justify-center"></div>
              <div class="bg-gray-200 p-4 rounded-lg w-20 h-20 flex items-center justify-center"></div>
            </div> -->
          </div>
        </div>
     
       
      </div>
      

      <div class="md:w-2/3 p-4 ">
        <div *ngIf="enrolledCourses.length > 0">
          <!-- <h2 class="text-2xl font-bold mb-4 text-indigo-700">Enrolled Courses</h2> -->
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 ">
            <div *ngFor="let course of enrolledCourses"
              class="bg-white rounded-lg shadow-3xl border border-gray-200 hover:shadow-3xl transition duration-300 p-4 relative hover:scale-105">
              <div class="flex items-center mb-2">
                <div class="bg-indigo-500 text-white rounded-full h-6 w-6 flex items-center justify-center mr-2">
                  <i class="fas fa-book text-xs"></i>
                </div>
                <span class="font-semibold text-base cursor-pointer" [class.text-blue-500]="selectedCourse === course"
                  (click)="viewCourse(course)">
                  {{ course.name }}
                </span>
              </div>
              <div class="absolute top-4 right-4 text-right">
                <button (click)="viewCourses(course)"
                  class="text-indigo-500 hover:text-indigo-700 font-semibold text-sm">View</button>
              </div>
              <!-- Completion percentage display -->
              <div class="flex items-center justify-between mt-4">
                <div class="relative w-12 h-12">
                  <svg class="w-full h-full" viewBox="0 0 36 36">
                    <path class="circle-bg"
                      d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                    <path class="circle"
                      [attr.stroke-dasharray]="coursePercentages[course.id] ? (coursePercentages[course.id] * 0.01 * 100) + ', 100' : '0, 100'"
                      d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                  </svg>
                  <div class="absolute inset-0 flex items-center justify-center">
                    <span class="text-gray-800 text-sm">{{ coursePercentages[course.id] ? (coursePercentages[course.id]
                      >= 100 ? '100' : coursePercentages[course.id].toFixed(1)) : '0.0' }}%</span>
                  </div>
                </div>
                <div *ngIf="certificateStatuses[course.id]" class="ml-2 text-indigo-500">
                <i (click)="gotoCertificate(course.id)" class="fas fa-award text-3xl hover:text-blue-700 cursor-pointer" aria-hidden="true"></i>
              </div>    

              </div>
              

            </div>
          </div>
        </div>
        <div *ngIf="!enrolledCourses.length">
          <h2 class="text-2xl font-bold mb-4 text-indigo-700">No Enrolled Courses</h2>
        </div>
      </div>
    </div>
     
  <div *ngIf="getModulesGroupedByLessonsKeys().length > 0" id="lessons-modules-section" class="mt-6 w-full">
  <div *ngIf="selectedCourse" class="flex justify-center mb-6">
    <h2 class="text-2xl font-bold font-semibold mb-2">
      {{ selectedCourse.name }}
    </h2>
  </div>
  <div class="flex justify-center">
  <table class="w-4/5 bg-white rounded-xl overflow-hidden shadow-3xl hover:shadow-3xl transition duration-300 p-4 relative hover:scale-105">
    <thead class="bg-blue-300">
      <tr>
        <th class="py-2 px-4 w-1/4 ">Lessons</th>
        <th class="py-2 px-4">Module</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lessonTitle of getLessonTitles(); let i = index">
        <td class="border px-4 py-2">{{ lessonTitle }}</td>
        <td class="border px-4 py-2">
          <div class="flex flex-wrap">
            <div *ngFor="let module of modulesGroupedByLessons[lessonTitle]" class="relative flex flex-col items-center mr-2 mb-2" appClickOutside (clickOutside)="handleClickOutside(module.id)">
              <div *ngIf="moduleVisibility[module.id]" class="tooltip-content bg-gray-200 p-2 text-sm text-gray-700 rounded-md shadow-md">
                <p class="font-semibold">{{ module.name }}</p>
              </div>
              <button (click)="toggleModuleVisibility(module.id)" class="module-button text-sm font-semibold py-1 px-3 rounded-md"
              [ngClass]="{
                'bg-green-500 text-white': moduleCompletionStatus[module.id],
                'bg-gray-200 text-gray-900': !moduleCompletionStatus[module.id]
              }">
                {{ getModuleNumber(module.id) }}
              </button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>

</div>
</div>

